:root {
	--white-color: #ffffff;
	--primary-color: #189bd5;
	--secundary-color: #9c9c9c;
	--footer-1: #20232e;
	--footer-2: #1b1d26;
	--transition: all .3s ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: .85rem;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* ----------------------
	MENU
-------------------------*/

#menu {
	border-bottom: 4px solid var(--primary-color);
}

#menu a, #menu a:visited {
	color: var(--primary-color);
	font-weight: 700;
	padding: 20px 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
}
#menu li:hover a, #menu li:focus a, #menu li:active a {
	color: var(--white-color);
	background: var(--primary-color);
}

/* ----------------------
	SLIDER
-------------------------*/
#slider {
	height: 350px;
	background: #aaa;
}

/* ----------------------
	NOTICIAS
-------------------------*/
#noticias {}
.noticias-title {}

.noticias-title h2 {
	font-size: 2rem;
	color: var(--primary-color);
}
.noticias-title h2:before {
	content: attr(data-heading);
	display: block;
	font-size: 1rem;
	color: var(--secundary-color);
	text-transform: uppercase;
	margin-bottom: 10px;
}
.noticias-item__img {
	border-radius: 10px;
    box-shadow: 10px 10px 0px 0px #0202022e;
    transition: var(--transition);
}
.noticias-item:hover .noticias-item__img {
	box-shadow: 0px 0px 0px 0px #0202022e;
}
.noticias-item__date {
	color: var(--secundary-color);
    margin: 16px 0 7px;
}
.noticias-item__title {
	font-size: 1.7rem;
    font-weight: 800;
    color: var(--primary-color);
}
.noticias-item__resumen {
    font-size: .9rem;
    color: #5f5f5f;
}
.noticias-item__redMore, .noticias-item__redMore:visited {
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
    color: var(--white-color);
    padding: 9px 0;
    border-radius: 5px;
    transition: var(--transition);
}

.noticias-item__redMore:hover, .noticias-item__redMore:active, .noticias-item__redMore:focus {
	background: var(--white-color);
    color: var(--primary-color);
}